body {
    display       : flex;
    flex-direction: column;
}

.header {
    display         : flex;
    padding         : 30px;
    align-items     : center;
    background-color: #1F2937;
}



.header-logo {
    width       : 250px;
    color       : #F9FAF8;
    font-size   : 24px;
    padding-left: 120px;
}

.header-links {
    display        : flex;
    gap            : 30px;
    padding        : 10px;
    justify-content: flex-end;
    width          : 100%;
    color          : #E5E7EB;
}


.main-title {
    padding         : 30px;
    background-color: #1F2937;
    display         : flex;
    flex-direction  : column;
    padding-left    : 150px;
}


.maint-title-button {
    width     : 150px;
    height    : 25px;
    margin-top: 10px;
}

.hero-main-text {
    font-size  : 48px;
    font-weight: bolder;
    color      : #F9FAF8;
    max-width  : 350px;
}

.hero-secondary-text {
    font-size : 18px;
    color     : #E5E7EB;
    max-width : 350px;
    flex-basis: 75%;
}

.img-header {
    height    : 250px;
    width     : 250px;
    align-self: flex-end;
}

.content {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    align-items   : center;
}

.content-header-text {
    color      : #1F2937;
    font-size  : 50px;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 35px;
}

.cards {
    display        : flex;
    flex-direction : row;
    gap            : 5px;
    justify-content: space-evenly;
    padding-left   : 150px;
    padding-right  : 150px;
    margin-top: 35px;
    margin-bottom: 200px;
}

.card1img {
    max-width : 200px;
    max-height: 200px;
}

.main-footer{
    display: flex;
    margin-bottom: 35px;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    align-items: flex-end;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.footer{
    display: flex;
   justify-content: center;
   background-color: #1F2937;
   color: #E5E7EB;
   height: 100px;
   align-items: center;
}





