body {
    display       : flex;
    flex-direction: column;
    margin        : 0px;
    padding       : 0p;
}

.header {
    display         : flex;
    padding         : 30px;
    align-items     : center;
    background-color: #1F2937;
}



.header-logo {
    display: flex;
    width: 350px;
    color       : #F9FAF8;
    font-size   : 24px;
    justify-content: flex-end;
}

.header-links {
    display        : flex;
    gap            : 30px;
    padding        : 10px;
    justify-content: flex-end;
    width          : 100%;
    flex-wrap: wrap;
    color          : #E5E7EB;
    list-style-type: none;
}


.hero-main-text-container {
    padding         : 30px;
    background-color: #1F2937;
    display         : flex;
    justify-content: center;
    flex-basis: 500px;
    flex-direction: column;
}



.hero-main-text {
    font-size  : 48px;
    color      : #F9FAF8;
    max-width  : 350px;
    margin: 0px;
    font-family: "roboto";
    font-weight: 700;
    display: flex;
    padding: 0px;
    min-width: 0;
}


.maint-title-button {
    width     : 120px;
    height    : 35px;
    margin: 0px;
    background-color: #3882F6;
    color: white;
    border-radius: 9px;
    border-style: initial;
    font-weight: bold;
}


.hero-secondary-text {
    font-size : 18px;
    color     : #E5E7EB;
    max-width : 550px;
}

.img-header {
    height: 170px;
    width : 450px;
}

.content {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin: 0px;
    padding: 0px;
}

.content-header-text {
    color      : #1F2937;
    font-size  : 50px;
    font-size  : 36px;
    font-weight: bolder;
    /* margin-top : 35px; */
  
}

.cards {
    display        : flex;
    gap            : 85px;
    justify-content: space-evenly;
    margin-top     : 35px;
    margin-bottom  : 200px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: auto;
}

.card1img {
    max-width : 200px;
    border-color: #3882F6;
    border-style: groove;
    max-height: 200px;
    border-radius: 19px;
}

.card2img {
    max-width : 200px;
    border-color: #3882F6;
    border-style: groove;
    max-height: 200px;
    border-radius: 19px;
}
.card3img {
    max-width : 200px;
    border-color: #3882F6;
    border-style: groove;
    max-height: 200px;
    border-radius: 19px;
}
.card4img {
    max-width : 200px;
    border-color: #3882F6;
    border-style: groove;
    max-height: 200px;
    border-radius: 19px;
}
.main-footer {
    display         : flex;
    margin-bottom   : 35px;
    flex-direction  : column;
    padding-left    : 150px;
    padding-right   : 150px;
    padding         : 150px;
    align-items     : flex-end;
    background-color: #E5E7EB;
    font-size       : 36px;
    color           : #1F2937;
}



.main-footer-quote {
    font-weight: lighter;
    font-style      : italic;
    margin: 0px;
}

.main-footer-god{
    font-weight: bolder;
    margin: 0px;
}

.footer {
    display         : flex;
    justify-content : center;
    background-color: #1F2937;
    color           : #E5E7EB;
    min-height      : 100px;
    align-items     : center;
}


.end-main-footer {
    background-color: #3882F6;
    display         : flex;
    flex-direction  : row;
    padding         : 70px;
    margin          : 120px;
    border-radius   : 15px;
    color           : #E5E7EB;
}

.div-button {
    display        : flex;
    align-self     : center;
    width          : 75%;
    justify-content: flex-end;
}

.button-footer {
    height          : 30px;
    width           : 129px;
    background-color: transparent;
    border-color    : white;
    border-radius   : 5px;
    color           : #E5E7EB;
    border-style    : solid;
}

.end-main-footer-text {
    font-weight: bold;
}


.image-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

